.dropdown {
    position: static;

    &.open {
        .dropdown-contents {
            visibility: visible;
            opacity: 1;
            transform: scale(1);
        }
    }

    &.right {
        .dropdown-contents {
            right: -2px;

            &::before {
                content: '';
                position: absolute;
                top: -7px;
                right: 10px;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-bottom: 7px solid #888;
            }
    
            &::after {
                content: '';
                position: absolute;
                top: -7px;
                right: 10px;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-bottom: 7px solid #fff;
            }
        }
    }

    .arrow {
        position: absolute;
        top: -17px;
        right: 5px;
    }

    .dropdown-contents {
        z-index: 999;
        position: absolute;
        margin-top: 5px;
        white-space: nowrap;
        background-color: #fff;
        box-shadow: var(--shadow-dropdown);
        border-radius: var(--radius);
        overflow: visible;
        visibility: hidden;
        opacity: 0;
        transition: opacity .25s cubic-bezier(0,1,.4,1),transform .25s cubic-bezier(.18,1.25,.4,1);
        transform: scale(.85);
    }

    .btn {
        background-color: transparent;
        border: 0;
    }
}
